body {
    margin:auto;
    background-color: white;
}
header {
  background-color: #e1eacd;
  height: 85px;
}
.name {
  padding: 30px;
  padding-left: 80px;
  width: 150px;
  color: #006400;
  font-size: 21px;
}
li {
  display: inline-block;
  float: right;
  height: 15px;
  padding: 25px;
  margin: 10px;
}
ul {
  margin: auto;
  padding-right: 100px;
}
nav {
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
a {
  color: #006400;
}
a:hover {
  color: #808000;
}
main {
  background-color: #61b390;
}
p {
  margin: auto;
}
img {
  height: 450px;
  width: 300px;
  padding: 40px;
  margin: 40px;
  background-color: #bad8b6;
}
.pic {
  padding-left: 90;
  width:470px
}
.one {
  float: right;
  padding: 26px;
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 23.40px;
  color: white;
  width:661px;
  -webkit-text-stroke: .9px #006400;
}
.two { 
  font-size: 25px;
  padding-top: 50px;
}
footer {
  background-color: #01352c;
  height: 85px;
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
.a {
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
  color:white;
  -webkit-text-stroke: .9px #006400;
  text-align: center;
  font-size: 45px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.circle {
  text-align: center;
}
hr {
  height: 10px;
  background-color:#01352c;
  border:transparent;
}