:root {
  --head:#e1eacd;
  --back: #bad8b6;
  --body: #61b390;
  --hover: #808000;
  --text: #006400;
  --foot: #01352c;
}
body {
  margin:auto;
  background-color: white;
}
header {
  background-color: var(--head);
  height: 85px;
}
.name {
  padding: 30px;
  padding-left: 80px;
  width: 150px;
  color: var(--text);
  font-size: 21px;
}
li {
  display: flex;
  float: right;
  height: 15px;
  padding: 25px;
  margin: 10px;
}
li:hover{
  background-color: var(--foot);
  margin: auto;
  padding-top: 27pt;
  height: 18pt;
  transition: 1s;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}
li:nth-child(3n + 3) {
  background-color: var(--foot);
  margin: auto;
  padding-top: 27pt;
  height: 18pt;
}
ul {
  margin: auto;
  padding-right: 100px;
}
nav {
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
a {
  color: var(--text);
}
a:hover {
  color: var(--hover);
}
main {
  background-color: var(--body);
}
p {
  margin: auto;
}
img {
  height: 450px;
  width: 300px;
  padding: 40px;
  margin: 40px;
  background-color: var(--back);
}
img:hover {
  transition-property: background;
  transition-duration: 1s;
  background: var(--hover);
  transition-timing-function: linear;
}
.pic {
  padding-left: 90px;
  width: 10px;
}
.one {
  float: right;
  padding: 26px;
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 23.40px;
  color: white;
  width:661px;
  -webkit-text-stroke: .9px var(--text);
}
.two { 
  font-size: 25px;
  padding-top: 50px;
}
footer {
  background-color:var(--foot);
  height: 85px;
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
.a {
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
  color:white;
  -webkit-text-stroke: .9px var(--text);
  text-align: center;
  font-size: 45px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.circle {
  text-align: center;
  z-index:auto;
}
hr {
  height: 10px;
  background-color:var(--foot);
  border:transparent;
}
.contact{
  margin: auto;
  padding: 30px;
  text-align:center;
  font-size: 60px;
  color: white;
  -webkit-text-stroke-width: .7px;
  -webkit-text-stroke-color: var(--text);
}
.container {
  text-align: center;
  background-color: var(--back);
  width: 335px;
  margin: auto;
  display: flex;
  height: 200px;
  padding: 20px;
  padding-bottom: 48px;
  border-radius: 30px/90px;
  color:var(--text);
  -webkit-text-stroke-width: .8px;
  justify-content: center;
}
.form {
  float: left;
  margin: auto;
  padding: 15px;
  font-size: 1pc
}
.line {
  border-color: black;
  float: right;
  margin: 15px;
}
.dash {
  padding: 20pt;
}
.success {
  margin: auto;
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
  text-align: center;
  font-size: 25pt;
  color: var(--text);
  padding: 40px;
  padding-top: 73pt;
}
@media screen {
